.demoInfo{
    color: white;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Rubik';
    
}

@media only screen and (max-width: 500px){
    .demoInfo{
        font-size: 10pt;
    }
}

.dollarBill{
    color:  rgb(84, 133, 69);
    font-size:500pt;
    padding: 60px;
    position: fixed;
    top: 200px;
    left: 600px;
    background-color: rgb(241, 241, 241);
}