.regHeader{
    color: rgb(105, 104, 104);
    margin-top: -20px;
}

.logLink{
    font-size: 13.5pt;
    color: rgb(92, 158, 72);
    margin-left: 6px;
    font-weight: bold;
    text-decoration: none;
}
.logLink:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 600px){
    .regHeader{
        font-size: 16pt;
    }
    .logLink{
        font-size: 12.5pt;
    }
}
